/* selector {
    property: value
} */
body {
    background: linear-gradient(to bottom, rgba(123, 168, 232, 1), rgba(123, 168, 232, 0.3));
    /* font-size: 1mm; */
    /* font-size: 20px; */
    font-size: 1em;
    color: rgb(43, 46, 44);

    text-transform: none;
    text-align: justify;

    font-family: 'Quicksand', sans-serif;
    padding: 15px;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
}

#heading {
    background: cadetblue;
}

.subtitle {
    color: green
}

/* PSEUDO SELECTORS */

h2:hover {
    color: red;
}

.un-order:first-child {
    color: yellow;
}

.un-order:last-child {
    color: green;
}

.un-order:nth-child(3) {
    color: grey;
}

/* #google-link:link {
    color: grey
}

#google-link:visited {
    color: burlywood;
} */

#google-link {
    text-decoration: none;
    /* color: black; */
}

#google-link:hover {
    background: crimson;
}

/* Attribute Selectors */
/* element[attribute:value] {

} */

h2[class=subtitle] {
    background: yellow;
}

/* ^ -> Starts with
$ -> Ends With
* -> Contains */

/* img[src$="./img/"] {
    border: 10px solid black;
} */

/* img[src$=".jpeg"] {
    border: 10px solid black;
} */

/* img[src*="img-2"] {
    border: 10px solid black;
} */


/* COLORS */
/* color -> name, ID, rgb() */

.container-one {
    height: 40%;
    width: 70%;

    background: url("https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(57, 55, 92);
}

/* GRADIENTS */

.container-two {
    height: 400px;
    width: 70%;

    /* background: linear-gradient(to right, rgba(68, 130, 81, 1), rgba(68, 130, 81, 0.4)); */
    background: linear-gradient(90deg, rgba(68, 130, 81, 1), rgba(68, 130, 81, 0.4), blue);
}

.container-three {
    height: 400px;
    width: 70%;

    background: radial-gradient(circle, red 40%, blue 55%, green 70%);
}

/* UNITS OF MEASUREMNETS */

/* cm, mm, in, px, em, rem, vh, vw, % */

/* TEXTS AND FONTS */

/* BOX MODEL */

#image-one {
    height: 300px;
    width: 70vw;

    /* border: thickness style color */
    border: 5px solid black;

    /* padding: top right bottom left; */
    padding: 15px;
    /* padding: 5px 10px; */
    /* padding: 5px 10px 15px 20px; */

    /* margin: top right bottom left */
    margin: 20px;
    /* margin: 80px 40px; */
    /* margin: auto; */

    /* display: none; */
}

/* .about-me {
    float: right;
} */

.my-form-item {
    display: block;
}