/* selector {
    property: value
} */

h1 {
    color: blue;
}

#heading {
    background: cadetblue;
}

.subtitle {
    color: green
}

/* PSEUDO SELECTORS */

h2:hover {
    color: red;
}

.un-order:first-child {
    color: yellow;
}

.un-order:last-child {
    color: green;
}

.un-order:nth-child(3) {
    color: grey;
}

#google-link:link {
    color:grey
}

#google-link:visited {
    color: burlywood;
}

#google-link:hover {
    background: crimson;
}

/* Attribute Selectors */
/* element[attribute:value] {

} */

h2[class=subtitle] {
    background: yellow;
}

/* ^ -> Starts with
$ -> Ends With
* -> Contains */

/* img[src$="./img/"] {
    border: 10px solid black;
} */

/* img[src$=".jpeg"] {
    border: 10px solid black;
} */

/* img[src*="img-2"] {
    border: 10px solid black;
} */